@model Project.Models.Tblpizzalist

@{
    ViewData["Title"] = "Order";
}

<h1>Your Order is Placed Successfully...</h1>


<h4>Cravings... Shop More!</h4>
<div>
    <a asp-action="Index" id="list">Back to List</a>
</div>
